<h1>New Project</h1>
<form method='get' action='/pages/create'>

    <div class='form-group'>    
        <label for="project_name">Project name:</label> 
        <input name="project_name" class="form-control" placeholder="Enter project name">
    </div>

    <div class='form-group'>    
    <label for="description">Description:</label> 
        <textarea name='description' type='number' class="form-control" placeholder="Enter description"></textarea>
    </div>

    <div class='form-group'>    
    <label for="start_date">Start date:</label>  
        <input name='start_date' class="form-control" placeholder="Enter start date">
    </div>

    <div class='form-group'>    
    <label for="end_date">End date:</label>  
        <input name='end_date' class="form-control" placeholder="Enter end date">
    </div>

    <div class='form-group'>    
    <label for="status">Status:</label>  
        <input name='status' class="form-control" placeholder="Enter status">
    </div>

    <div class='form-group'>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>